html, body {
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

.pa-0 {
  padding: 0px !important;
}

html::-webkit-scrollbar {
  display: none;
}